@charset "UTF-8";
.hide {
  z-index: 99999;
  position: fixed;
  display: flex;
  margin: 4% 0 0 69%;
  text-align: center;
}
.hide .for_inf {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  height: 100px;
  visibility: hidden;
  cursor: default;
  background-image: url(../pics/ind/sos.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 18% 0 3%;
}
.hide .for_inf p {
  padding: 20px 15px 0px 15px;
}
.hide .for_help {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  float: none;
  height: 100px;
  visibility: hidden;
  cursor: default;
  background-image: url(../pics/ind/sas.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.hide .for_help p {
  padding: 35px 15px 0px 15px;
}

.head {
  display: flex;
}
.head .img {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  float: left;
  margin-right: 4%;
  padding: 0 0;
  margin-right: 40%;
  height: 100px;
  margin-left: 4%;
}
.head .inf-h {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  float: left;
  margin-right: 4%;
  padding: 2.5% 2%;
  margin-right: 0px;
  margin-left: 18%;
}
.head .inf-h p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.head .help-h {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  float: left;
  margin-right: 4%;
  padding: 2.5% 2%;
  margin-right: 0px;
  margin-left: 3%;
}
.head .help-h p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.undo_head {
  height: 2px;
  background: black;
}

.main_inf {
  text-align: center;
}
.main_inf .base {
  font-variant: small-caps;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 45px;
  float: left;
  display: inline-block;
  margin: 5% 10%;
  line-height: 400%;
  width: 30%;
  border-radius: 20px;
  background-image: url(../pics/ind/1.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main_inf .base:hover {
  cursor: pointer;
}
.main_inf .more {
  font-variant: small-caps;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 45px;
  float: right;
  display: inline-block;
  margin: 5% 10%;
  line-height: 400%;
  width: 30%;
  border-radius: 20px;
  background-image: url(../pics/ind/2.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main_inf .more:hover {
  cursor: pointer;
}
.main_inf .cov {
  font-variant: small-caps;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 45px;
  float: left;
  display: inline-block;
  margin: 5% 10%;
  line-height: 400%;
  width: 30%;
  border-radius: 20px;
  background-image: url(../pics/ind/3.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main_inf .cov:hover {
  cursor: pointer;
}
.main_inf .ex {
  font-variant: small-caps;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 45px;
  float: none;
  display: inline-block;
  margin: 5% 10%;
  line-height: 400%;
  width: 30%;
  border-radius: 20px;
  background-image: url(../pics/ind/4.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main_inf .ex:hover {
  cursor: pointer;
}

.maybe .lowdown {
  background-image: url(../pics/ind/ocr.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0% 5%;
}
.maybe .lowdown .header {
  font: bold 45px/1.5 Arial, Helvetica, sans-serif;
  width: 50%;
  padding-top: 10%;
  display: flex;
  justify-content: center;
  float: left;
  cursor: default;
}
.maybe .lowdown .all_the_text:after {
  content: "Задачей данного проекта является предоставление возможности обучиться игре на гитаре в домашних условиях. В разделах используются табулатуры, которые можно просмотреть отдельно по ссылке ниже. Проект также включает раздел с упражнениями для совершенствования своих навыков и список рекомендованной музыки для тех, кто ещё только начинает приобщаться к музыкальному искусству. Информация, использующаяся в разделах, получена в результате года обучения с репетитором, поэтому знания основаны на личном опыте.";
  font: bold 20px/1.5 Arial, Helvetica, sans-serif;
  width: 40%;
  display: flex;
  padding: 10% 0 11% 0;
  cursor: default;
}

.music {
  width: 90%;
  margin: 5% 0%;
}
.music .pare {
  align-items: center;
}
.music .pare .ease-L {
  transform: translate(140px);
  opacity: 0;
}
.music .pare .ease-L p {
  float: left;
  margin-left: 10%;
  width: 45%;
  display: flex;
  font-size: 20px;
  text-align: center;
  cursor: default;
  padding-top: 15px;
}
.music .pare .ease-R {
  transform: translate(140px);
  opacity: 0;
}
.music .pare .ease-R img {
  float: none;
  margin-left: 0%;
  width: 45%;
  display: flex;
  font-size: 0px;
  text-align: center;
  cursor: default;
  padding-top: 0px;
}
.music .pare {
  align-items: center;
}
.music .pare .hard-L {
  transform: translate(-140px);
  opacity: 0;
}
.music .pare .hard-L img {
  float: left;
  margin-left: 10%;
  width: 45%;
  display: flex;
  font-size: 0px;
  text-align: center;
  cursor: default;
  padding-top: 0px;
}
.music .pare .hard-R {
  transform: translate(-140px);
  opacity: 0;
}
.music .pare .hard-R p {
  float: none;
  margin-left: 0%;
  width: 45%;
  display: flex;
  font-size: 20px;
  text-align: center;
  cursor: default;
  padding-top: 15px;
  padding-left: 5px;
}

.tabs {
  margin: 10% 0%;
}
.tabs .text {
  float: left;
  font-size: 25px;
  width: 15%;
  height: auto;
  margin-left: 35%;
  padding: 4% 0%;
  cursor: default;
}
.tabs .down_img img {
  transform: scale(0.5);
  width: 15%;
  height: auto;
}

@media (max-width: 1200px) {
  .hide, .head, .undo_head {
    display: none;
  }

  .main_inf {
    text-align: center;
  }
  .main_inf .base {
    font-variant: small-caps;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    float: none;
    display: inline-block;
    line-height: 400%;
    width: 70%;
    border-radius: 20px;
    background-image: url(../pics/ind/1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .main_inf .base:hover {
    cursor: pointer;
  }
  .main_inf .more {
    font-variant: small-caps;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    float: none;
    display: inline-block;
    line-height: 400%;
    width: 70%;
    border-radius: 20px;
    background-image: url(../pics/ind/2.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .main_inf .more:hover {
    cursor: pointer;
  }
  .main_inf .cov {
    font-variant: small-caps;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    float: none;
    display: inline-block;
    line-height: 400%;
    width: 70%;
    border-radius: 20px;
    background-image: url(../pics/ind/3.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .main_inf .cov:hover {
    cursor: pointer;
  }
  .main_inf .ex {
    font-variant: small-caps;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    float: none;
    display: inline-block;
    line-height: 400%;
    width: 70%;
    border-radius: 20px;
    background-image: url(../pics/ind/4.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .main_inf .ex:hover {
    cursor: pointer;
  }

  .maybe .lowdown .header {
    font: bold 25px/1.5 Arial, Helvetica, sans-serif;
  }
  .maybe .lowdown .all_the_text:after {
    font: bold 13px/1.5 Arial, Helvetica, sans-serif;
    padding-bottom: 1%;
    content: "Задачей данного проекта является предоставление возможности обучиться игре на гитаре в домашних условиях.";
  }

  .tabs .text {
    font-size: 15px;
    width: 20%;
    margin-right: 5%;
  }
}
@media (max-width: 500px) {
  .all_the_text {
    padding-bottom: 13%;
  }

  .tabs .text {
    font-size: 10px;
  }
}

/*# sourceMappingURL=for_index.css.map */
