@mixin back($back-img) {
	background-image: $back-img;
	background-size: 100% auto;
	background-repeat:no-repeat;}
@mixin hide($f) {
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	float: $f;
	height: 100px;
	visibility: hidden;
	cursor: default;}
@mixin head_part ($adm, $pad) {
	font-size: 18px;
	font-family: Arial,Helvetica,sans-serif;
	display: flex;
	float: left;
	margin-right: 4%;
	padding: $pad;
	margin-right: $adm;}
@mixin main ($f) {
	font-variant: small-caps;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
	color: white;
	font-size: 45px;

	float: $f;
    display: inline-block;

	margin: 5% 10%;
	line-height: 400%;
    width: 30%;
	border-radius: 20px;

	&:hover {cursor: pointer;};};
@mixin main-small () {
	font-variant: small-caps;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
	color: white;
	font-size: 25px;

	float: none;
    display: inline-block;

	line-height: 400%;
    width: 70%;
	border-radius: 20px;

	&:hover {cursor: pointer;};}
@mixin music ($float, $mar, $font, $pad) {
	float: $float;
	margin-left: $mar;
	width: 45%;
	display: flex;
	font-size: $font;
	text-align: center;
	cursor: default;
	padding-top: $pad;}

.hide {
	z-index: 99999;
	position: fixed;
	display: flex;
	margin: 4% 0 0 69%;
	text-align: center;
	.for_inf {
		@include hide(left);
		@include back(url(../pics/ind/sos.png));
		margin: 0 18% 0 3%;
		p{padding: 20px 15px 0px 15px;}}
	.for_help {
		@include hide(none);
		@include back(url(../pics/ind/sas.png));
		p{padding: 35px 15px 0px 15px;}}}
.head {
	display: flex;	
	.img {
		@include head_part(40%, 0 0);
		height: 100px;
		margin-left: 4%;
	}
	.inf-h{
		@include head_part(0px, 2.5% 2%);
		margin-left: 18%;
		p:hover {cursor: pointer;
			text-decoration: underline;};}
	.help-h{
		@include head_part(0px, 2.5% 2%);
		margin-left: 3%;
		p:hover {cursor: pointer;
			text-decoration: underline;};
	}}
.undo_head {
	height: 2px;
	background: black;}
.main_inf{
    text-align: center;
	.base{
		@include main(left);
		@include back(url(../pics/ind/1.jpg));
	}
	.more{
		@include main(right);
		@include back(url(../pics/ind/2.jpg));
	}
	.cov{
		@include main(left);
		@include back(url(../pics/ind/3.jpg));
	}
	.ex{
		@include main(none);
		@include back(url(../pics/ind/4.jpg));
	}}
.maybe {
	.lowdown{
		@include back(url(../pics/ind/ocr.jpg));
		margin: 0% 5%;
		.header{
			font: bold 45px/1.5 Arial,Helvetica,sans-serif;
			width: 50%;
			padding-top: 10%;
			display: flex;
			justify-content: center;
			float: left;
			cursor: default;

		}
		.all_the_text:after{
			content: "Задачей данного проекта является предоставление возможности обучиться игре на гитаре в домашних условиях. В разделах используются табулатуры, которые можно просмотреть отдельно по ссылке ниже. Проект также включает раздел с упражнениями для совершенствования своих навыков и список рекомендованной музыки для тех, кто ещё только начинает приобщаться к музыкальному искусству. Информация, использующаяся в разделах, получена в результате года обучения с репетитором, поэтому знания основаны на личном опыте.";
			font: bold 20px/1.5 Arial,Helvetica,sans-serif;
			width: 40%;
			display: flex;
			padding: 10% 0 11% 0;
			cursor: default;
		}
	}}
.music {
	width: 88%;
	margin: 5% 0%;
	.pare{align-items: center;
		.ease-L {
			transform:translate(140px); opacity:0;
			p{
				@include music (left, 9%, 20px, 15px);
			}
		}
		.ease-R {
			transform:translate(140px); opacity:0;
			img{
				@include music (none, 0%, 0px, 0px);
			}
		}
	}
	.pare{align-items: center;
		.hard-L {
			transform:translate(-140px); opacity:0;
			img{
				@include music (left, 9%, 0px, 0px);
			}
		}
		.hard-R {
			transform:translate(-140px); opacity:0;
			p{
				@include music (none, 0%, 20px, 15px);
				padding-left: 5px;
			}
		}
	}
}
.tabs {
	margin: 10% 0%;
	.text{
		float: left;
		font-size: 25px;
		width: 15%;
		height: auto;
		margin-left: 35%;
		padding: 4% 0%;
		cursor: default;}
	.down_img{
		img{
			transform: scale(0.5);
			width: 15%;
			height: auto;
		}
	}}

@media (max-width:1200px) {
	.hide, .head, .undo_head, .music{display: none};
	.main_inf{
	    text-align: center;
		.base{
			@include main-small();
			@include back(url(../pics/ind/1.jpg));
		}
		.more{
			@include main-small();
			@include back(url(../pics/ind/2.jpg));
		}
		.cov{
			@include main-small();
			@include back(url(../pics/ind/3.jpg));
		}
		.ex{
			@include main-small();
			@include back(url(../pics/ind/4.jpg));
		}
	}
	.maybe{
		.lowdown{
			.header{
				font: bold 25px/1.5 Arial,Helvetica,sans-serif;
			}
			.all_the_text:after{
				font: bold 13px/1.5 Arial,Helvetica,sans-serif;
				padding-bottom: 1%;
				content: "Задачей данного проекта является предоставление возможности обучиться игре на гитаре в домашних условиях."
			}
		}
	}

	.tabs{
		.text{
			font-size: 15px;
			width: 20%;
			margin-right: 5%;
		}
	}
}

@media (max-width:500px) {
	.all_the_text{
		padding-bottom: 13%;
	}
	.tabs{
		.text{
			font-size: 10px;
		}
	}
}