@mixin back($back-img) {
	background-image: $back-img;
	background-size: 100% auto;
	background-repeat:no-repeat;}
@mixin hide($f) {
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	float: $f;
	height: 100px;
	visibility: hidden;
	cursor: default;}
@mixin head_part ($adm, $pad) {
	font-size: 18px;
	font-family: Arial,Helvetica,sans-serif;
	display: flex;
	float: left;
	margin-right: 4%;
	padding: $pad;
	margin-right: $adm;}
@mixin main ($float, $line, $high) {
	font: small-caps bold 45px/1.5 Arial,Helvetica,sans-serif;
	color: white;
	float: $float;
    display: inline-block;
	margin: 5% 10%;
	line-height: $line;
    width: 30%;
    height: $high;
	border-radius: 20px;}
@mixin music ($float, $mar,) {
	float: $float;
	margin-left: $mar;
	width: 45%;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	line-height: 35px;
	font-size: 25px;
	text-align: center;
	cursor: default;}

.hide {
	z-index: 99999;
	position: fixed;
	display: flex;
	margin: 4% 0 0 69%;
	text-align: center;
	.for_inf {
		@include hide(left);
		@include back(url(../pics/ind/sos.png));
		margin: 0 18% 0 3%;
		p{padding: 20px 15px 0px 15px;}}
	.for_help {
		@include hide(none);
		@include back(url(../pics/ind/sas.png));
		p{padding: 35px 15px 0px 15px;}}}
.head {
	display: flex;	
	.img {
		@include head_part(40%, 0 0);
		height: 100px;
		margin-left: 4%;
	}
	.inf-h{
		@include head_part(0px, 2.5% 2%);
		margin-left: 18%;
		p:hover {cursor: pointer;
			text-decoration: underline;};}
	.help-h{
		@include head_part(0px, 2.5% 2%);
		margin-left: 3%;
		p:hover {cursor: pointer;
			text-decoration: underline;};
	}}
.undo_head {
	height: 2px;
	background: black;}
.main_inf{
	line-height: 200px;
    text-align: center;
	.base{
		@include main(left, 180px, 200px);
		@include back(url(../pics/ind/1.jpg));
	}:hover {cursor: pointer;};
	.more{
		padding-top: 50px;
		@include main(right, 50px, 150px);
		@include back(url(../pics/ind/2.jpg));
	}:hover {cursor: pointer;};
	.cov{
		@include main(left, 200px, 200px);
		@include back(url(../pics/ind/3.jpg));
	}:hover {cursor: pointer;};
	.ex{
		@include main(none, 200px, 200px);
		@include back(url(../pics/ind/4.jpg));
	}:hover {cursor: pointer;};}
.maybe {
	.lowdown{
		@include back(url(../pics/ind/ocr.jpg));
		justify-content: center;
		margin: 0% 5%;

		.header{
			font: bold 45px/1.5 Arial,Helvetica,sans-serif;
			width: 50%;
			display: flex;
			justify-content: center;
			vertical-align: middle;
			text-align: center;
			float: left;
			cursor: default;

		}
		.all_the_text{
			font: bold 20px/1.5 Arial,Helvetica,sans-serif;
			width: 40%;
			display: flex;
			justify-content: center;
			vertical-align: middle;
			padding-top: 20px;
			padding: 10% 0 8% 0;
			cursor: default;
		}
	}}
.music {
		width: 90%;
		margin: 5% 0%;
		.ease-L {
			transform:translate(140px); opacity:0;
			p{
				@include music (left, 10%);
				padding: 36px 0px;

			}
		}
		.ease-R {
			transform:translate(140px); opacity:0;
			img{
				@include music (right, 0%);

			}
		}
	
		.hard-L {
			transform:translate(-140px); opacity:0;
			img{
				@include music (left, 10%);
			}
		}
		.hard-R {
			transform:translate(-140px); opacity:0;
			p{
				@include music (none, 0%);
				padding: 15px 0px;
			}
		}}
.tabs {
	margin: 10% 0%;
	.text{
		float: left;
		font-size: 25px;
		width: 15%;
		height: auto;
		margin-left: 35%;
		padding: 4% 0%;
		cursor: default;}
	.down_img{
		img{
			transform: scale(0.5);
			width: 15%;
			height: auto;
		}
	}}