.head {
  display: flex; }
  .head .img {
    font-size: 18px;
    font-family: Arial,Helvetica,sans-serif;
    display: flex;
    float: left;
    margin-right: 4%;
    padding: 0 0;
    margin-right: 40%;
    height: 100px;
    margin-left: 4%; }
    @media (max-width: 1090px) {
      .head .img {
        font-size: 18px;
        font-family: Arial,Helvetica,sans-serif;
        display: flex;
        float: left;
        margin-right: 4%;
        padding: 0 0;
        margin-right: 10%; } }
  .head .inf-h {
    font-size: 18px;
    font-family: Arial,Helvetica,sans-serif;
    display: flex;
    float: left;
    margin-right: 4%;
    padding: 2.5% 2%;
    margin-right: 0px;
    margin-left: 8%; }
    @media (max-width: 1090px) {
      .head .inf-h {
        font-size: 18px;
        font-family: Arial,Helvetica,sans-serif;
        display: flex;
        float: left;
        margin-right: 4%;
        padding: 8% 2%;
        margin-right: 0px; } }
  .head .bl-h {
    font-size: 18px;
    font-family: Arial,Helvetica,sans-serif;
    display: flex;
    float: left;
    margin-right: 4%;
    padding: 2.5% 2%;
    margin-right: 0px; }
    @media (max-width: 1090px) {
      .head .bl-h {
        font-size: 18px;
        font-family: Arial,Helvetica,sans-serif;
        display: flex;
        float: left;
        margin-right: 4%;
        padding: 8% 2%;
        margin-right: 0px; } }
  .head .help-h {
    font-size: 18px;
    font-family: Arial,Helvetica,sans-serif;
    display: flex;
    float: left;
    margin-right: 4%;
    padding: 2.5% 2%;
    margin-right: 0px; }
    @media (max-width: 1090px) {
      .head .help-h {
        font-size: 18px;
        font-family: Arial,Helvetica,sans-serif;
        display: flex;
        float: left;
        margin-right: 4%;
        padding: 8% 2%;
        margin-right: 0px; } }

.undo_head {
  height: 2px;
  background: black; }

.main_inf {
  line-height: 200px;
  text-align: center; }
  .main_inf .base {
    font: small-caps bold 45px/1.5 Arial,Helvetica,sans-serif;
    color: white;
    float: left;
    display: inline-block;
    margin: 5% 10%;
    line-height: 180px;
    width: 30%;
    height: 200px;
    background-image: url(../pics/1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 20px; }
    @media (max-width: 1090px) {
      .main_inf .base {
        font: small-caps bold 45px/1.5 Arial,Helvetica,sans-serif;
        color: white;
        float: none;
        display: inline-block;
        margin: 0% 0%;
        line-height: 50px;
        width: 70%;
        height: 150px;
        background-image: url(../pics/1.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        border-radius: 20px; } }
  .main_inf .more {
    padding-top: 50px;
    font: small-caps bold 45px/1.5 Arial,Helvetica,sans-serif;
    color: white;
    float: right;
    display: inline-block;
    margin: 5% 10%;
    line-height: 50px;
    width: 30%;
    height: 150px;
    background-image: url(../pics/2.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 20px; }
    @media (max-width: 1090px) {
      .main_inf .more {
        font: small-caps bold 45px/1.5 Arial,Helvetica,sans-serif;
        color: white;
        float: none;
        display: inline-block;
        margin: 0% 0%;
        line-height: 50px;
        width: 70%;
        height: 150px;
        background-image: url(../pics/2.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        border-radius: 20px; } }
  .main_inf .mus {
    font: small-caps bold 45px/1.5 Arial,Helvetica,sans-serif;
    color: white;
    float: left;
    display: inline-block;
    margin: 5% 10%;
    line-height: 200px;
    width: 30%;
    height: 200px;
    background-image: url(../pics/3.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 20px; }
    @media (max-width: 1090px) {
      .main_inf .mus {
        font: small-caps bold 45px/1.5 Arial,Helvetica,sans-serif;
        color: white;
        float: none;
        display: inline-block;
        margin: 0% 0%;
        line-height: 50px;
        width: 70%;
        height: 150px;
        background-image: url(../pics/3.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        border-radius: 20px; } }
  .main_inf .ex {
    font: small-caps bold 45px/1.5 Arial,Helvetica,sans-serif;
    color: white;
    float: none;
    display: inline-block;
    margin: 5% 10%;
    line-height: 200px;
    width: 30%;
    height: 200px;
    background-image: url(../pics/4.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 20px; }
    @media (max-width: 1090px) {
      .main_inf .ex {
        font: small-caps bold 45px/1.5 Arial,Helvetica,sans-serif;
        color: white;
        float: none;
        display: inline-block;
        margin: 0% 0%;
        line-height: 200px;
        width: 70%;
        height: 200px;
        background-image: url(../pics/4.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        border-radius: 20px; } }

.photo {
  background-image: url(../pics/back.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat; }
  .photo .text {
    padding: 70px 5% 10px 5%;
    width: 90%;
    font: italic bold 35px/1.5 'Bona Nova', serif;
    color: white; }
  .photo .author {
    width: 90%;
    font: italic 30px/1.5 'Bona Nova', serif;
    color: white;
    padding: 0px 5% 70px 5%;
    text-align: right; }

.music {
  width: 90%;
  margin: 5% 0%; }
  .music .ease-L p {
    float: left;
    margin-left: 10%;
    width: 45%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 25px;
    text-align: center;
    padding: 36px 0px; }
  .music .ease-R img {
    float: right;
    margin-left: 0%;
    width: 45%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 25px;
    text-align: center; }
  .music .hard-L img {
    float: left;
    margin-left: 10%;
    width: 45%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 25px;
    text-align: center; }
  .music .hard-R p {
    float: none;
    margin-left: 0%;
    width: 45%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 25px;
    text-align: center;
    padding: 15px 0px; }

.tabs {
  margin: 10% 0%; }
  .tabs .text {
    float: left;
    font-size: 25px;
    width: 15%;
    height: auto;
    margin-left: 35%;
    padding: 4% 0%; }
  .tabs .down_img img {
    width: 15%;
    height: auto; }

/*# sourceMappingURL=style.css.map */
